/* NOTES

/*

/* Global stuff */

    .hidden {
        display:none;
    }

    .clear {
        clear:both;
    }

    body {
        margin:0;
    }

/* TYPOGRAPHY */
    body {

    }

    p {

    }

    h1 {
        text-align:center;
        font-family:museo-sans;
        color:#f2d089;
        margin:20px 0 0;
        font-size:2em;
    }

    h2 {

    }

    h3 {

    }


/* HEADER CSS */

/* FOOTER CSS */

/* SECTIONS OF PAGE BACKGROUNDS CSS */

    .background {
        background-image: linear-gradient(to bottom right, #e19058, #c82347);
        height:100vh;
        width:100vw;
    }

/* Body styles */

    .logoContainer {
        padding-top:20vh;
        max-width:85%;
        margin:0 auto;
        display:block;
        animation: fadeInAnimation ease 5s;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards; 
    }

    @keyframes fadeInAnimation { 
        0% { 
            opacity: 0; 
        } 
        100% { 
            opacity: 1; 
         } 
    } 

    .logo {
        width:600px;
        max-width:100%;
        margin:0 auto;
        display:block;
    }

/* Share Buttons */

    .shareButtons {
        width:83px;
        margin:0 auto;
        display:block;
    }

    .facetweetgram {
        width:25px;
        margin:0;
    }

@media screen and (min-width: 650px) {

    /* Type */

        h1 {
            font-size:3.5em;
        }

    /* Body Styles */

        .logoContainer {
            padding-top:18vh;
        }

    /* button styles */

        .shareButtons {
            width:128px;
            margin:0 auto;
            display:block;
        }

        .facetweetgram {
            width:40px;
        }